/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url('../images/sky.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 4px 20px 0 rgba(207, 216, 220, 0.27);
  box-shadow: 0 4px 20px 0 rgba(207, 216, 220, 0.27);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.container .left_side {
  position: relative;
  background: rgb(61, 90, 254);
  padding: 40px;
}

.profileText {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-family: 'Amatic SC', cursive;
}

.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: rgb(39, 60, 179);
}

.profileText .imgBx:hover {
  cursor: pointer;
}

.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  background: rgb(39, 60, 179);
}

.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s;
  opacity: 0;
}

.profileText h2 {
  color: #fff;
  margin-top: 20px;
  font-size: 3em;
  font-weight: 600;
  line-height: 1.4em;
  text-transform: uppercase;
  text-align: center;
}

.profileText h2 span {
  font-size: 0.8em;
  font-weight: 300;
}

.click {
  position: relative;
  top: 40%;
  text-align: center;
  color: #fff;
}

.click:hover {
  color: #ffff00;
}

.contactInfo {
  padding-top: 40px;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #ffff00;
}

.contactInfo ul li .text a {
  color: #fff;
  text-decoration: none;
}

.contactInfo ul li .text a:hover {
  color: #ffff00;
}

.contactInfo .title {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.contactInfo.education li {
  cursor: default;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}

.contactInfo.education h5 {
  color: #ffff;
  font-weight: 500;
}

.contactInfo.education h5 span {
  color: #ffff00;
}

.contactInfo.education i {
  color: #ffff00;
}

.contactInfo.language ul li {
  cursor: default;
}

.contactInfo.language .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background: rgb(39, 60, 179);
  display: block;
  margin-top: 5px;
}

.contactInfo.language li {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.contactInfo.language .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ffff00;
}

.contactInfo.personal li {
  color: #fff;
  cursor: default;
}

.container .right_side {
  position: relative;
  padding: 40px;
}

.title2 {
  color: #ffff00;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  font-family: 'Amatic SC', cursive;
}

.about {
  color: #fff;
  margin-bottom: 50px;
  font-family: 'Poppins', sans-serif;
}

.about:first-child {
  padding: 5px;
  border-radius: 10px;
  background: #111;
}

.about:last-child {
  margin-bottom: 0;
}

.about .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 20px 0;
  padding: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.about .box:hover {
  background: #111;
  border-radius: 10px;
}
.about .box:hover span {
  opacity: 1;
}
.about .box:hover h4 {
    color:#ffff00;
   }
.about .box span {
  background: #111;
  left:0;
  padding-top:10px;
  height: 44px;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.about .source{
    text-align:center;
    width:100%;
    height:46px;
    border-radius:10px;
    padding-top:12px;
    color:#111;
}
.about .source:hover{
    background:#111;
    color:#fff;
}

.about .box .year_company {
  min-width: 160px;
}

.about .box .year_company h5 {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.about .box .text h4 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ffff00;
}


.skills .box .percent span {
  position: absolute;
  top: -17px;
  right: -27px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px 1fr;
  grid-template-columns: 160px 1fr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.skills .box h4 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #ffff00;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-name: skills;
  animation-name: skills;
}

.interest ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.interest ul li {
  list-style: none;
  font-weight: 500;
  margin: 10px 0;
  border-radius: 4px;
}

.interest {
  border-radius: 10px;
  padding: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background: #111;
}

.interest ul li .fas {
  color: #ffff00;
  margin-right: 5px;
  font-size: 18px;
  width: 20px;
}
.interest ul li a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition:0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.interest ul li a:hover {
  color: rgb(61, 90, 254);
}

.visible {
  opacity: 0;
}

@media (max-width: 1000px) {
  .container {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
    background: rgba(1, 1, 1, 0.5);
  }

  .profileText .imgBx img {
    opacity: 1;
  }

  .interest ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .title2 {
    text-align: center;
  }

  .about .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 40px;
  }

  .about .box .year_company {
    margin-bottom: 5px;
  }

  .interest ul {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 20px;
  }

  .skills .box {
    grid-template-columns: repeat(1, 1fr);
  }
}
